<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="suggested-job-head"><%= @user.jobs.count %> positions you may be interested in:</div>
      <% @user.jobs.each do |job| %>
        <div class="job-box">
          <span class="suggested-job-title"><%= job.title %></span><br/>
          <span class="suggested-job-company"><%= job.company %></span>
          <span class="suggested-job-loc">(<%= job.location %>)</span><br/>
          <span class="suggested-job-desc"><%= job.description %>...</span><br/><br/>
          <%= link_to "View on LinkedIn", 'https://www.linkedin.com/jobs2/view/' + job.linkedin_id.to_s, class: "btn btn-default btn-inline" %>
          <% if @user.bookmarks.includes?(job.id, job.class) %>
            <%= link_to "Bookmarked", bookmark_path(@user, bookmark: {user_id: @user.id, bookmarkable_id: job.id, bookmarkable_type: job.class}), method: :delete, class: "btn btn-success" %>
          <% else %>
            <%= link_to 'Bookmark', bookmarks_path(bookmark: {user_id: @user, bookmarkable_id: job.id, bookmarkable_type: job.class}), method: :post, class: "btn btn-default btn-inline" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <div class="col-md-6">
    <div class="job-words">
      <div class="job-words-head">Top words found in those positions:</div>
      <div id="word-box">
        <div id="word-box">
          <div style="text-align: center;"><%= image_tag "http://assets-edge.vacationhomerentals.com/design/images/loading_big.gif" %></div>
          <script>
            $(document).ready(function () {
              setTimeout(function()
              {
                $("#word-box").load("/graph");
              }, 1500);
            });
          </script>
        </div>
      </div>
    </div>

    <div class="meetup-groups">
      <div class="meetup-groups-head">Suggested Meetup groups:</div>
      <div id="meetup-box">
        <div style="text-align: center; margin-top: 45px;"><%= image_tag "http://assets-edge.vacationhomerentals.com/design/images/loading_big.gif" %></div>
        <script>
          $(document).ready(function () {
            setTimeout(function()
            {
              $("#meetup-box").load("/meetups");
            }, 3000);
          });
        </script>
      </div>
    </div>
  </div>
</div>
</div>
