<div class="container">
  <div class="row">
    <div class="col-md-12">
      <span class="welcome-user-title">Welcome, <%= @user.first_name %></span>
      <div class="profile-container">
        <span class="profile-pic"><%= image_tag @user.pic_url %></span>
        <%= @user.first_name %>
        <%= @user.last_name %>
        <br/>
        <%= @user.headline %>
        <br/>
        <strong>Industry:</strong> <%= @user.industry %>
        <br/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="suggested-job-head"><%= @user.jobs.count %> positions you may be interested in:</div>
      <% @user.jobs.each do |job| %>
        <div class="job-box">
          <span class="suggested-job-title"><%= job.title %></span><br/>
          <span class="suggested-job-company"><%= job.company %></span>
          <span class="suggested-job-loc">(<%= job.location %>)</span><br/>
          <span class="suggested-job-desc"><%= job.description %>...</span><br/><br/>
          <%= link_to "View on LinkedIn", 'https://www.linkedin.com/jobs2/view/' + job.linkedin_id.to_s, class: "btn btn-default" %><br/>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="job-words">
        <div class="job-words-head">Top words found in those positions:</div>
        <div id="word-box">
          <div id="word-box">
            <div style="text-align: center;"><%= image_tag "http://assets-edge.vacationhomerentals.com/design/images/loading_big.gif" %></div>
            <script>
              $( document ).ready(function () {
                $( "#word-box").load( "http://familydoctorg.com/Gifs/login.gif");
                setTimeout(function()
                {
                  $( "#word-box" ).load( "/graph" );
                }, 3000);
              });
            </script>
          </div>
        </div>
      </div>

      <div class="meetup-groups">
        <div class="meetup-groups-head">Suggested Meetup groups:</div>
        <% @meetups_to_show.each do |meetup, word| %>
          <% if meetup != nil %>
            <div class="meetup-box">
              Based on <strong><%= word %></strong>, we found:<br/>
              <%= meetup["name"] %> (<%= meetup["city"] %>)<br/><br/>
              <%= link_to "View on Meetup", meetup["link"], class: "btn btn-default" %><br/>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
