<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="profile-container">
        <h3>Welcome, <%= @user.first_name %></h3>
        <%= @user.first_name %>
        <%= @user.last_name %>
        <br/>
        <%= @user.headline %>
        <br/>
        <strong>Industry:</strong> <%= @user.industry %>
        <br/>
        <%= image_tag @user.pic_url %>
        <br/>
      </div>

      <div class="job-words">
        <h3>Top words found in those positions:</h3>
        <% @top_job_words.each do |word, occurences| %>
          <%= word %> <span class="badge"><%= occurences %></span> |
        <% end %>
      </div>

      <div class="meetup-groups">
        <h3>Suggested Meetup groups based on those words:</h3>
        <% @meetups_to_show.each do |meetup, word| %>
          <% if meetup != nil %>
            Based on <strong><%= word %></strong>, we found:<br/>
            <%= meetup["name"] %> (<%= meetup["city"] %>)<br/>
            <%= link_to "View on Meetup", meetup["link"], class: "btn btn-default" %><br/><br/>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="suggested-job-head"><%= @user.jobs.count %> positions you may be interested in:</div>

      <% if @user.jobs.any? %>
        <% @user.jobs.each do |job| %>
          <div class="job-box">
            <span class="suggested-job-title"><%= job.title %></span><br/>
            <span class="suggested-job-company"><%= job.company %></span>
            <span class="suggested-job-loc">(<%= job.location %>)</span><br/>
            <span class="suggested-job-desc"><%= job.description %>...</span><br/><br/>
            <%= link_to "View on LinkedIn", 'https://www.linkedin.com/jobs2/view/' + job.linkedin_id.to_s, class: "btn btn-default" %><br/>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
